@font-face {
    font-family: 'title-font';
    font-display: auto;
    src: url('../static/media/titles.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'text-font';
    font-display: auto;
    src: url('../static/media/text-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}